/* Notifications */

.notifications {
    & .notification {
        display: inline-block;
        position: relative;
        padding: 15px;
        font-size: 1.3em;
        &:hover:before {
            color: #999;
        }
        &:before,
        &:after {
            color: #a8a8a8;
        }
        // &:before {
        //     display: block;
        //     content: "\e123";
        //     font-family: 'Glyphicons Halflings';
        //     transform-origin: top center;
        // }
        &:after {
            font-family: Arial;
            font-size: 0.7em;
            font-weight: 700;
            position: absolute;
            top: 10px;
            left: 50%;
            padding: 2px 5px;
            line-height: 100%;
            opacity: 0;
            border-radius: 60px;
            background: #db3434;
            content: attr(data-count);
            -webkit-transform: scale(0.5);
            transform: scale(0.5);
            -webkit-transition: opacity, -webkit-transform;
            transition: opacity, -webkit-transform;
            transition: transform, opacity;
            transition: transform, opacity, -webkit-transform;
            transition-duration: 0s, 0s, 0s;
            transition-timing-function: ease, ease, ease;
            -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
            -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
            color: #fff;
        }
        &.notify {
            // &:before {
            //     -webkit-animation: ring 1.5s ease;
            //     animation: ring 1.5s ease;
            // }
            & svg {
                -webkit-animation: ring 1.5s ease;
                animation: ring 1.5s ease;
            }
        }
        &.show-count:after {
            -webkit-transform: scale(1);
            transform: scale(1);
            opacity: 1;
        }
        & svg {
            margin-bottom: -6px;
            transform-origin: top center;
        }
    }
    & .dropdown-menu {
        min-width: 300px;
        & .notify-title h4 {
            margin: 0;
            border-bottom: 1px solid #eee;
            text-align: center;
            font-size: 12px;
            text-transform: uppercase;
            font-weight: bold;
            line-height: 24px;
            padding-bottom: 3px;
        }
        & li {
            border-bottom: 1px solid #ddd;
            &:last-child() {
                border-bottom: none;
            }
            &.unread {
                background: #f1f1f1;
            }
            &>a {
                display: table;
                padding: 10px;
                line-height: 1;
                white-space: normal;
                width: 100%;
                font-size: 13px;
                color: #666;
                &:hover {
                    background: rgba(0, 0, 0, 0.03);
                }
                & a {
                    line-height: 1.3em;
                }
                & time {
                    color: #999;
                }
            }
            &:last-child>a {
                border-bottom: none;
            }
        }
        & .notify-footer {
            border-top: 1px solid #eee;
            padding: 5px 10px 2px;
        }
    }
}